.pdf-text-layer {
  opacity: 0.25;
  line-height: 1;
  overflow: hidden;
}

.pdf-text-layer span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0 0;
}
